<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <h1>Edit Profile</h1>

    <form action="/profile/<%= user.id %>" method="POST" enctype="multipart/form-data" id="form">
        <div>
            <label for="username">Change username:</label>
            <input type="text" id="username" name="username" value="<%= user.username %>" required>
        </div>

        <div>
            <h2>Change password:</h2>
            <label for="old_password">Old password</label>
            <input type="password" id="old_password" name="old_password" value="">
            <label for="new_password">New password</label>
            <input type="password" id="new_password" name="new_password" value="">
        </div>

        <div>
            <label for="picture">Change profile picture</label>
            <input type="file" id="picture" name="picture" value="<%= user.picture_path %>">
        </div>


        <button type="submit">Update Profile</button>
    </form>

    <a href="/profile/<%= user.id %>">Cancel</a>
    <script>
      const form = document.getElementById('form');
      form.addEventListener('submit', (e) => {
        const old_password = document.getElementById('old_password').value;
        const new_password = document.getElementById('new_password').value;
        console.log(old_password, new_password);
        e.preventDefault();
        console.log(old_password, new_password);
        if((old_password !== "" && new_password !== "") && (old_password === new_password)) {
          alert('New password cannot be the same as old password.');
          return;
        }
        if(new_password && !old_password) {
          alert('Please enter old password if you want to change the password.');
          return;
        }
        if(!new_password && old_password){
          alert('Please enter new password if you want to change the password.');
          return;
        }
        e.target.submit();
      });
    </script>
</body>
</html>
