<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/public/css/nav.css">
  <link rel="stylesheet" href="/public/css/memberList.css">
</head>
<body>

<ul class="topnav">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/groups">Groups</a></li>
  
  <% if (isLogged) { %>
    <li class="right"><a href="/logout">Logout</a></li>
    <li class="right"><a href="/profile">Profile</a></li>
  <% } else { %>
    <li class="right"><a href="/login">Login</a></li>
  <% } %>
</ul>


