    <%- include('partials/navbar') %>
  <div class="center">
  <h1>Welcome to FITDIT</h1>
  <h2>Where redditors of FIT post 🤓</h2>
  <h3>Browse public groups or <a href="/register">Sign up</a> to join groups or create your own!</h3>
  </div>
</body>
</html>

