    <%- include('partials/navbar') %>
<h1>Register</h1>
  <form action="/auth/register" method="post", enctype="multipart/form-data">
    <input type="text" name="username" placeholder="username" /> <br>
    <label for="avatar">Avatar</label>
    <input type="file" name="avatar" placeholder="avatar"/> <br>
    <input type="password" name="password" placeholder="password" /> <br>
    <input type="submit" value="Register" /> <br>
  </form>
</body>
</html>

