    <%- include('partials/navbar') %>
<h1>Users</h1>
    <% for (let i = 0; i < (users ? users.length : 0); i++) { %>
        <div>
            <a href="/profile/<%= users[i].id %>" >
              <h2><%= users[i].username %></h2>
            </a>
            <% if(users[i].is_admin){ %>
              <h3 style="color: red">Admin</h3>
            <% } %>
              <img src="/<%= users[i].path_to_avatar %>">
            <hr>
        </div>
    <% } %>
</body>
</html>

