nav {
  display: flex;
  justify-content: space-between;
  background-color: #132d34;
  height: auto;
  width: 100%;
  margin-top: 0px;
  color: white;
}

.navbar-left {
  display: flex;
}

.navbar-right {
  display: flex;
}

.navbar a {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  margin-right: 30px;
  padding: 10px;
}

.navbar a:hover {
  color: #fffdde;
  background-color: #10111f;
}

body {
  margin:0;
  padding: 0;
  height: 100%;
  width: 100%;
}
